.git
.github
.venv
venv
agent-tools
config
/data
docs
tests
searxng_extra
client
utils
**/.pytest_cache
**/__pycache__
**/*.pyc
**/*.md
**/*.rst
!README.md
node_modules
coverage
dist
build
*.egg-info
.idea
.helix
.devcontainer
**/target
